body{
    background-color: #181818;
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;

}
#control{
    display: flex;
    flex-direction: column;
    margin: 24px;
}
#size{
    margin: 12px 0;
}
h1{
    color: dodgerblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    color: dodgerblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button{
    margin: 12px 0;
}
.grid {
    padding: 10px;
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    
}
.grid-row{
    display: flex;
    flex: auto;
}
.grid-item{
    flex: auto;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}